*{
margin:0px;
padding:0px;
}
@font-face{
src:url('BrandonGrotesqueLight.ttf');
font-family:'BGLight';
}
a{
color:#333;
text-decoration:none;
}
.container{
overflow:hidden;
}
.inner_container{
padding:14% 32%;
}
.all_videos{
width:100%;
text-align:center;
font-size:32px;
font-family:'BGLight';
}
.video_container{
margin:14px 0px;
width:100%;
}
.video_container img{
width:100%;
}
.video_container h2{
font-size:16px;
}